* {
    direction: rtl;
    font-family: "Tahoma";
    /*font-family: "IranNastaliq";*/
    font-family: "iransansweb";

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #C0E0FF;

}

@font-face {
    src: url('../font/iransansweb.ttf');
    /*font-family: "IRANSansWeb";*/
    /*src: url('/font/IranNastaliq.ttf');*/
    font-family: "iransansweb";
    font-weight: normal;
    font-style: normal;
}

a {
    color: black;
}

.topInfoBar {
    height: 25px;
    text-align: center;
    background: deepskyblue;
}

.topInfoBar div {
    vertical-align: middle;
    padding: 3px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 99;
}

.affix + #mainContent {
    /*padding-top: 56px;*/
    margin-top: 68px;
}

.navbar {
    margin-bottom: 3px;
}

.menuLogo {
    height: 30px;
    width: 30px;
    margin-top: -5px;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.menuLogo:hover {
    transition-duration: 1s;
    transform: rotate(360deg);
    -webkit-transition-duration: 1s;
    -webkit-transform: rotate(360deg);
}

.menuText {
    vertical-align: top;
    margin-right: 7px;
}

.fa-home {
    font-size: 21px !important;
    margin-top: -4px;
}

glyphicon-home {
    margin-top: -4px;
}

/* The animation code */
@keyframes example {
    0% {
        transform: rotate(20deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes example {
    0% {
        -webkit-transform: rotate(20deg);
    }
    25% {
        -webkit-transform: rotate(-20deg)
    }
    50% {
        -webkit-transform: rotate(20deg)
    }
    75% {
        -webkit-transform: rotate(-20deg)
    }
    100% {
        -webkit-transform: rotate(0deg)
    }
}

.fa-home:hover {
    -webkit-animation-name: example;
    -webkit-animation-duration: 1s;
    animation-name: example;
    animation-duration: 1s;
}

.glyphicon-home:hover {
    -webkit-animation-name: example;
    -webkit-animation-duration: 1s;
    animation-name: example;
    animation-duration: 1s;
}

.navbar-brand {
    float: right;
}

.navbar-toggle {
    float: left;
}

.navbar-nav-rtl {
    padding-right: 0px;
}

.dropdown-menu {
    text-align: right;
}

@media (min-width: 768px) {
    .navbar-nav > li {
        float: right;
    }

    .navbar-brand {
        margin-left: 15px !important;
    }
}

#mainContent {
    min-height: 350px;
}



.mainItemContainer {
    background-color: ghostwhite;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
}

.myItemContainer {
    text-align: center;
    padding-top: 10px;
}

.myItem {
    width: 200px;
    /*height: 150px;*/
    margin: 5px;
    vertical-align: top;
    display: inline-block;

}

.myItem a:hover {
    text-decoration: none;
}

.myItemBorder {

}

.myItem2 {
    border: 2px solid lightgray;
    border-bottom: 2px ridge lightgray;
    background-color: lightyellow;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 2px #111;
    box-shadow: 1px 2px 2px #111;
}

.myItem img {
    width: 200px;
    height: 150px;
    -webkit-box-shadow: 1px 2px 4px #111;
    box-shadow: 1px 2px 4px #111;
}

.bigHr {
    background-color: lightgray !important;
    height: 1px !important;
}

/*slider*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    max-height: 400px;
    margin: auto;
}

.carousel-control{
    opacity: 0.1;
    width: 10% !important;
}
.carousel-control:hover{
    opacity: 0.1!important;
}
.carousel-control:focus{
    opacity: 0.1!important;
}


#myCarousel {
    border-radius: 5px 5px 5px 50px;
    margin-top: -15px;
}

footer {
    background-color: #222222;
    color: white;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border-color: red;
}

.hr2 {
    border-color: #5ca9ff;
}

footer a {
    color: white;
    display: block;

}

.footerColumn {
    padding-right: 15px;
    margin-bottom: 25px;
}

.footerTextTitles {
    /*color: #fffa90;*/
    color: #2196F3;
}

footer input[type=email] {
    color: #333333;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

div[class^='col-'], div[class*=' col-'] {
    float: right;
}

.blur {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.blur:hover {
    -webkit-filter: blur(1.7px);
}

.bottomCopyRight {
    text-align: center;
}

.modal-body{
    padding: 10px;
}
.modal-content {
    background-color: #222222;
    color: white;
    margin: 0 auto;
}
.imageViewer img {
    width: 100%;
    height: 300px;
    padding-left: 5px;
}
.allImages {
    height: 300px;
    overflow: auto;
    padding-left: 5px;
    padding-right: 5px;
}
/*1200ld 992md 768sm 480xs 320exs*/
@media only screen and (max-width:768px ){
    .imageViewer img {
        height: 280px;
    }
    .allImages {
        height: 280px;
    }


}
@media only screen and (max-width:480px ){
    .imageViewer img {
        height: 200px;
    }
    .allImages {
        height: 200px;
    }

    .callusForm input{
        max-width: 160px;
    }
    .callusForm textarea{
        max-width: 160px;
    }
}


.modal-content .myBtnClose {
    color: white;
    text-shadow: none;
    float: right;
    text-gn: center;
    margin-left: 5px;
}
.myBtnClose .glyphicon{
    vertical-align: middle;
}

.myThumbnail {
    margin-bottom: 5px;
    padding: 0px;
}

.myThumbnailActive{
    padding: 3px !important;
}
.callusForm {
    background-color: rgba(0, 0, 250, 0.1);
    border-radius: 5px 5px 5px 5px;
    padding: 20px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px gray;
}
.callusForm .row{
    padding: 8px 0px;
}

.callusForm input{
    max-width: 192px;
    width: 100%;
    text-align:center;
}



.callusForm textarea{
    max-width: 192px;
    width: 100%;
}

.callusinfo {
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 250, 0.1);
    padding: 20px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px gray;
}
.callusinfo table td{
    padding: 8px 50px;
    text-align: center;
}
.callusinfo table{
    margin: 0 auto;
}
.aboutCompany {

}
.productDescriptor {
    width: 100%;
    /*height: 300px;*/
    background-color: #222;
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    padding: 15px;
}
.productDescriptorImage {
    /*height: 300px;*/
    margin-bottom: 10px;
}
.productDescriptorImage img{
    width: 200px;
    height: 150px;
    margin: 0 auto;
}
.productDescriptorText{
    /*height: 300px;*/
    color: white;
}
