* {
    direction: rtl;

    font-family: "IRANSansWeb";

}

body {

}

@font-face {
    src: url('/public/fontnsweb.ttf');
    font-family: "IRANSansWeb";
}

a {
    color: black;
}

.menuLogo{
    height:30px;
    width:30px;
    margin-top: -5px;
}

.menuText{
    vertical-align: top;
    margin-right: 7px;
}

.fa-home{
    font-size: 21px !important;
    margin-top: -4px;
}
/* The animation code */
@keyframes example {
    0%   {transform: rotate(20deg); }
    25%  {transform: rotate(-20deg);}
    50%  {transform: rotate(20deg);}
    75%  {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}
@-webkit-keyframes example {
    0%   { -webkit-transform: rotate(20deg);}
    25%  {-webkit-transform: rotate(-20deg)}
    50%  {-webkit-transform: rotate(20deg)}
    75%  {-webkit-transform: rotate(-20deg)}
    100% {-webkit-transform: rotate(0deg)}
}
.fa-home:hover{
    -webkit-animation-name: example;
    -webkit-animation-duration: 1s;
    animation-name: example;
    animation-duration: 1s;
}



.navbar-brand {
    float: right;
}

.navbar-toggle {
    float: left;
}
.navbar-nav-rtl{
    padding-right: 0px;
}
.dropdown-menu{
    text-align: right;
}
@media (min-width: 768px) {
    .navbar-nav>li {
        float: right;
    }
    .navbar-brand {
        margin-left: 15px !important;
    }
}




/*old menu*/
/*.menu {*/
    /*background-color: deepskyblue;*/
    /*width: 100%;*/
    /*height: 80px;*/
    /*z-index: 999;*/
/*}*/

/*.menu ul {*/
    /*margin: 0px 70px 0px 0px;*/
    /*list-style: none;*/
    /*!*height: 80px;*!*/
    /*!*overflow: auto;*!*/
/*}*/

/*.menu ul li {*/
    /*float: right;*/
    /*margin: 0 0 0 1px;*/
    /*text-align: center;*/
    /*color: black;*/
    /*background-color: skyblue;*/
    /*position: relative;*/
/*}*/

/*.menu ul li a {*/
    /*display: block;*/
    /*text-decoration: none;*/
    /*padding: 30px;*/
/*}*/

/*.menu a:hover {*/
    /*background-color: lightblue;*/
/*}*/

/*.menu ul li ul {*/
    /*display: none;*/
    /*position: absolute;*/
    /*margin: 0px;*/
/*}*/

/*.menu ul li ul li {*/
    /*margin: 0px;*/
/*}*/

/*.menu ul li ul li a {*/
    /*width: 150px*/
/*}*/
/*.sub-menu {*/
    /*z-index: 998;*/
/*}*/

/*.is-sticky {*/
    /*position: fixed !important;*/
    /*top: 0px;*/
/*}*/



.mainContent {
    margin-top: 90px;
}


/* old slider*/
/*
.slider {
    padding: 2px;
    border-radius: 5px 5px 30px 30px;
    background-color: rgba(0, 0, 0, 0.1);
}

.sliderTumbs {
    margin-top: 3px;
    text-align: center;
}

.sliderTumbs img {
    width: 90px;
    height: 60px;
    margin-left: 1px;
    display: inline !important;
    border-radius: 5px 5px 5px 5px;
}

.tumbActive {
    border: solid 2px rgba(0, 0, 0, 0.7);
}

.slideImg {
    height: 300px;
}

.slideImg img {
    border-radius: 5px 5px 5px 5px;
    height: 300px;
    margin: auto;
    width: 100%;
}

.sliderActive {
    display: block;
}
*/


.myItemContainer {
    text-align: center;
}

.myItem {
    width: 200px;
    height: 150px;
    margin: 5px;
    background-color: lightgray;
    display: inline-block;
}

.myItem img {
    width: 200px;
    height: 150px;
}

.bigHr {
    background-color: lightgray !important;
    height: 1px !important;
}

/*slider*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 400px;
    margin: auto;
}
#myCarousel {
    border-radius: 5px 5px 5px 50px;
}

footer {
    background-color: #222222;
    color: white;
    margin-top: 50px;
}

div[class^='col-'], div[class*=' col-']{
    float: right;
}